@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

body {
    color: #2f2f2f;
    font-family: 'Droid Serif', serif;
    font-size: 13px;
}

header {
    text-align: center;
    padding-bottom: 2rem;
}

#bios{
    margin: 20px;
}

#BeingTheMurderedHousekeeper {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.clipText {
    font-size: 10.5px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.image-container {
    position: absolute;
    z-index: 1;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
}

.image-container:hover {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    cursor: default;
}

.image-container p {
    margin-top: 4px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageRow {
    width: 100%;
}

#imageContainer1 {
    transform: rotate(350deg);
}

#imageContainer2 {
    transform: rotate(30deg);
}

#imageContainer3 {
    transform: rotate(15deg);
}

#imageContainer4 {
    transform: rotate(340deg);
}

#imageContainer5 {
    transform: rotate(20deg);
}