* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

canvas {
    position: absolute;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
}

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.col {
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

.container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front,
.back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back {
    background: #cedce7;
    background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    font-size: 13px;
}

.back p {
    margin-bottom: 0.5rem;
}

.back .inner {
    opacity: 0;
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.container:hover .front,
.container:hover .back,
.container.hover .front,
.container.hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.container:hover .back .inner,
.container.hover .back .inner {
    opacity: 1;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.back .inner {
    padding: 1rem;
}

.container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back,
.container.hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front,
.container.hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p {
    font-size: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

.front .inner p:after {
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

.red {
    color: red;
}

.black {
    color: black;
}

.rank-suit-bottom {
    width: 100%;
    text-align: right;
    bottom: 0;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.suit-rank-top {
    text-align: left;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.card-design {
    position: absolute;
    z-index: 2;
    margin: auto;
    font-size: 24px;
}

.suit-middle {
    font-size: 24px;
}

@media screen and (max-width: 64rem) {
    .col {
        width: calc(33.333333% - 2rem);
    }
}

@media screen and (max-width: 48rem) {
    .col {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem) {
    .col {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}



/* Twinkle/Sparkle/President */

#sparkle {
    visibility: hidden;
}

svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.group {
    transform: translate(42.5px, 42.5px);
}

path {
    transform: translate(-42.50px, -42.50px);
}

.large {
    opacity: 0;
    animation: large 7s linear infinite;
}

.large-2 {
    opacity: 0;
    animation: large-2 7s linear infinite;
}

.small {
    opacity: 0;
    animation: small 7s linear infinite;
}

@keyframes large {
    0% {
        opacity: 0;
        transform: rotate(0deg) scale(0);
    }

    16.667% {
        opacity: 1;
    }

    33.333% {
        opacity: 0;
        transform: rotate(360deg) scale(1.5);
    }

    100% {
        opacity: 0;
        transform: rotate(0deg) scale(0);
    }
}

@keyframes large-2 {
    0% {
        opacity: 0;
        transform: rotate(45deg) scale(0);
    }

    16.667% {
        opacity: 1;
    }

    33.333% {
        opacity: 0;
        transform: rotate(405deg) scale(1.1);
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) scale(0);
    }
}

@keyframes small {
    0% {
        opacity: 0;
        transform: rotate(0deg) scale(0);
    }

    16.667% {
        opacity: 1;
    }

    33.333% {
        opacity: 0;
        transform: rotate(-360deg) scale(1.5);
    }

    100% {
        opacity: 0;
        transform: rotate(0deg) scale(0);
    }
}

/* President background */
/*#presidentInnerBack {
    background: black;
}*/

/* Cure starvation */

#cureStarvation {
    display: none;
}

.room {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 400px;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
}

.room::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    /*  background-color: #f6874b;*/
}

.bread {
    position: absolute;
    width: 200px;
    height: 115px;
    background-color: #ffce72;
    border-radius: 50%;
    border-bottom: 30px solid #f6874b;
    background-image: linear-gradient(to bottom, #ffce72, #ffa821);
    z-index: 1;
    overflow: hidden;
    bottom: 20px;
    margin-left: 20px;
}

.bread__strip {
    position: absolute;
    top: -30px;
    width: 20px;
    height: 60px;
    background-color: #e0881e;
    border-radius: 50%;
}

.bread__strip--1 {
    left: 40px;
    transform: rotate(-16deg);
}

.bread__strip--2 {
    left: 0;
    right: 0;
    margin: auto;
}

.bread__strip--3 {
    right: 40px;
    transform: rotate(16deg);
}

.steam {
    position: absolute;
    top: 100px;
    left: 10px;
    /*  right: 0;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 180px;
    margin: auto;
    animation: steamMoves 1.2s infinite linear;
    z-index: 2;
}

.steam__ring {
    position: relative;
    width: 60px;
    height: 60px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    border-bottom: 0;
    border-left: 0;
    animation: steamRingRotates 1.2s infinite linear;
}

.steam__ring--2 {
    top: -16px;
    left: -12px;
    animation-delay: -1s;
}

.steam__ring--3 {
    top: -32px;
    right: -12px;
    animation-delay: -2s;
}

@keyframes steamMoves {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 0;
        transform: translateY(-60px);
    }
}

@keyframes steamRingRotates {
    0% {
        opacity: 0;
        transform: rotate(0);
    }

    50% {
        opacity: 1;
        transform: rotate(180deg);
    }

    100% {
        opacity: 0;
        transform: rotate(359deg);
    }
}

/*Card trick*/

.card {
    width: 120px;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-box-shadow: -1px 0 5px #000000;
    -webkit-box-shadow: -1px 0 5px #000000;
    float: left;
    margin: 0 -131px 20px 10px;
}

.clubs,
.spades {
    color: #333333;
}

.hearts,
.diams {
    color: #8A1213;
}

.card .suit {
    text-align: center;
    font-size: 50px;
    height: 70px;
    line-height: 70px;
}

.card .bottom_suit {
    text-align: right;
}

.card .bottom_rank {
    text-align: right;
}

#cards {
    opacity: 0;
    margin-right: 110px;
    position: fixed;
    top: 10px;
}