* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

body {
    font-family: 'Playfair Display', serif;
}

canvas {
    position: absolute;
}

h1 {
    font-weight: normal;
    color: white;
    text-align: center;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
}

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.col {
    width: calc(33% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

.container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front,
.back {
    min-width: 220px;
    max-width: 240px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    /*    color: #fff;*/
    font-size: 1.5rem;
}

.back {
    background: lightgrey;
    /*    background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);*/
    font-size: 13px;
}

.back p {
    margin-bottom: 0.5rem;
}

.back .inner {
    opacity: 0;
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: white;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.container {
   width: 50%;
    margin: 0 auto;
}

.container:hover .front,
.container:hover .back,
.container.hover .front,
.container.hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.container:hover .back .inner,
.container.hover .back .inner {
    opacity: 1;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.back .inner {
    padding: 1rem;
}

.container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back,
.container.hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front,
.container.hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p {
    font-size: 1rem;
    margin-bottom: 2rem;
    position: relative;
    font-style: italic;
}

.red {
    color: red;
}

.black {
    color: black;
}

.rank-suit-bottom {
    width: 100%;
    text-align: right;
    bottom: 0;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.suit-rank-top {
    text-align: left;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.card-design {
    position: absolute;
    z-index: 2;
    margin: auto;
    font-size: 24px;
}

.suit-middle {
    font-size: 24px;
}

@media screen and (max-width: 64rem) {
    .col {
        width: calc(33.333333% - 2rem);
    }
}

@media screen and (max-width: 48rem) {
    .col {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem) {
    .col {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}



/* Twinkle/Sparkle/President */

#sparkle {
    visibility: hidden;
}

svg {
    position: absolute;
    left: 80%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.group {
    transform: translate(42.5px, 42.5px);
}

path {
    transform: translate(-42.50px, -42.50px);
}

.large {
    opacity: 0;
    animation: large 7s linear infinite;
}

.large-2 {
    opacity: 0;
    animation: large-2 7s linear infinite;
}

.small {
    opacity: 0;
    animation: small 7s linear infinite;
}

@keyframes large {
    0% {
        opacity: 0;
        transform: rotate(0deg) scale(0);
    }

    16.667% {
        opacity: 1;
    }

    33.333% {
        opacity: 0;
        transform: rotate(360deg) scale(2);
    }

    100% {
        opacity: 0;
        transform: rotate(0deg) scale(0);
    }
}

@keyframes large-2 {
    0% {
        opacity: 0;
        transform: rotate(45deg) scale(0);
    }

    16.667% {
        opacity: 1;
    }

    33.333% {
        opacity: 0;
        transform: rotate(405deg) scale(1.1);
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) scale(0);
    }
}

@keyframes small {
    0% {
        opacity: 0;
        transform: rotate(0deg) scale(0);
    }

    16.667% {
        opacity: 1;
    }

    33.333% {
        opacity: 0;
        transform: rotate(-360deg) scale(1.5);
    }

    100% {
        opacity: 0;
        transform: rotate(0deg) scale(0);
    }
}

/* President background */

/* Cure starvation */

/* Cure starvation steam */
@keyframes steamAnimation {
    0% {
        transform: translate(30%, -70%);
        opacity: 0;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        transform: translate(60%, -90%);
        opacity: 0;
    }
}

#steamWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#steam {
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: -156px 492px 123px -252px #fff;
    filter: url(#fog);
    min-width: 600px;
    min-height: 600px;
    animation-name: steamAnimation;
    animation-duration: 4s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    will-change: transform, opacity;
}

@media (max-width: 600px) {
    #steam {
        top: -80%;
        box-shadow: -156px 492px 123px -252px #fff;
    }
}

@media (max-width: 480px) {
    #steam {
        top: -160%;
        box-shadow: -166px 492px 53px -272px #fff;
    }
}


/*Card trick*/

.card {
    width: 120px;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-box-shadow: -1px 0 5px #000000;
    -webkit-box-shadow: -1px 0 5px #000000;
    float: left;
    margin: 0 -131px 20px 10px;
}

.clubs,
.spades {
    color: #333333;
}

.hearts,
.diams {
    color: #8A1213;
}

.card .suit {
    text-align: center;
    font-size: 50px;
    height: 70px;
    line-height: 70px;
}

.card .bottom_suit {
    text-align: right;
}

.card .bottom_rank {
    text-align: right;
}

#cards {
    opacity: 0;
    margin-right: 110px;
    position: fixed;
    top: 10px;
}